.hat {
  width: 71vw;
  height: 115px;
  margin: 0 auto;
  align-content: center;
}

.hatContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82%;
  margin: 0 auto;
  height: 90px;
  z-index: 1;
}

.logo {
  margin-top: 3px;
  color: white;
}

.frame {
  display: flex;
  gap: 63.5px;
  font-family: roboto;
  font-weight: 600;
  font-size: 19px;
  margin-top: 5px;
  z-index: 2;
}

.frame a:hover {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}
