.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

/* @media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
} */
