.main {
  display: flex;
  flex-direction: column;
  background-position: calc(100vw - 60vw);
  width: 100%;
  color: white;
  height: 789px;
  background: black;
  z-index: -1;
}

.textPart {
  padding-top: 2.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  /* border: 3px solid red; */
  /* align-items: center; */
  width: 55.2%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.textPart button {
  border: 3px solid white;
  padding: 13px;
  border-radius: 15px;
  font-size: 16px;
  width: 276px;
  background: black;
}

.text {
  font-size: 60px;
  font-weight: 550;
  font-style: italic;
  letter-spacing: -2px;
  margin-top: 1rem;
}

.backgroundFP {
  z-index: -1;
  position: absolute;
  display: flex;
  width: 87.5vw;
  height: 789px;
}

.first {
  background-color: black;
  flex-grow: 1;
}

.second {
  background-image: url('../public/Focuswall.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  flex-grow: 1;
  justify-self: flex-end;
}
.second::before {
  content: '';
  width: 0px;
  height: 100%;
  display: block;
  box-shadow: -25px 0px 100px 150px black;
}
