/* .main {
  display: flex;
  flex-direction: column;
  background-position: calc(100vw - 60vw);
  width: 100%;
  color: white;
  height: 789px;
  background: black;
  z-index: -1;
}

.textPart {
  padding-top: 2.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  width: 55.2%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.textPart button {
  border: 3px solid white;
  padding: 13px;
  border-radius: 15px;
  font-size: 16px;
  width: 276px;
  background: black;
}

.text {
  font-size: 60px;
  font-weight: 550;
  font-style: italic;
  letter-spacing: -2px;
  margin-top: 1rem;
}

.backgroundFP {
  z-index: -1;
  position: absolute;
  display: flex;
  width: 87.5vw;
  height: 789px;
}

.first {
  background-color: black;
  flex-grow: 1;
}

.second {
  background-image: url('../public/Focuswall.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  flex-grow: 1;
  justify-self: flex-end;
}
.second::before {
  content: '';
  width: 0px;
  height: 100%;
  display: block;
  box-shadow: -25px 0px 100px 150px black;
} */

$white: #fff;
$black: #000;
$button-hover-bg: #0056b3;

.mainPage {
  width: 100%;
  background: $black;

  .container {
    height: 789px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 76.5%;
    margin: 0 auto;

    .content {
      display: flex;
      height: 100%;
      width: 100%;

      .text {
        color: $white;
        position: absolute;
        top: 33%;
        left: 14%;
        z-index: 1;

        p {
          font-size: 60px;
          font-style: italic;
          font-weight: 700;
          /* Uncomment this if required */
          /* margin-bottom: 1.5rem; */
        }

        button {
          padding: 0.9rem 1.5rem;
          background: none;
          color: $white;
          border: 2px solid $white;
          cursor: pointer;
          font-size: 1rem;
          border-radius: 15px;
          transition: background-color 0.3s ease;
          width: 276px;
          margin-top: 9.4rem;
          /* Uncomment this if required */
          /* margin-left: 2.6rem; */

          &:hover {
            background-color: $button-hover-bg;
          }
        }
      }

      .leftSection {
        flex: 2;
        background-color: $black;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 2rem;
        position: relative;
        bottom: 0;
        right: 0;

        h1 {
          font-size: 2.5rem;
          margin-bottom: 1rem;
        }
      }

      .rightSection {
        flex: 3;
        background: url('/Focuswall.png') no-repeat center center;
        background-size: cover;
        position: relative;
      }
    }

    .rightSection,
    .leftSection {
      position: relative;
    }
  }
}

@media (max-width: 768px) {
  .mainPage {
    .container {
      .content {
        flex-direction: column;

        .leftSection,
        .rightSection {
          flex: none;
          height: 50vh;
        }
      }
    }
  }
}
